<!DOCTYPE html>
<html lang="en">
<head>
<title>> Horizon</title>
<!--template-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="stylesheet" type="text/css" href="/static/blog_css/blogMainCss.css" />
<link rel="apple-touch-icon" type="image/png" href="/static/icon.png" />
<link rel="icon" type="image/png" href="/static/title_icon/title_icon.png" />
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/bottons/bottons.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/jquery/jquery-1.4.min.js"></script>
</head>

{% block sub_template %}{% endblock %}

<div class="footer">
    <div class="content">
    		<div class="foot_social">
		    	<ul class="social_network text-center">
		    		<li>
		                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=398448011&site=qq&menu=yes">
		                    <span class="fa-stack fa-lg">
		                        <i class="fa fa-circle fa-stack-2x"></i>
		                        <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
		                    </span>
		                </a>
		            </li>
		            <li>
		                <a href="http://weibo.com/hssailor">
		                    <span class="fa-stack fa-lg">
		                        <i class="fa fa-circle fa-stack-2x"></i>
		                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
		                    </span>
		                </a>
		            </li>
		            <li>
		                <a href="https://github.com/gewentao">
		                    <span class="fa-stack fa-lg">
		                        <i class="fa fa-circle fa-stack-2x"></i>
		                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
		                    </span>
		                </a>
		            </li>
		        	<li>
		                <a href="Mailto:sailbear@foxmail.com">
		                    <span class="fa-stack fa-lg">
		                        <i class="fa fa-circle fa-stack-2x"></i>
		                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		                    </span>
		                </a>
		            </li>
		        </ul>
       		</div>
       		<!--p><i class="fa fa-user"></i> 123 </p-->
       		<div class="foot_word">
        		<p class="hosted">Hosted by  <a target="_blank" rel="nofollow" href="http://sae.sina.com.cn/">Sina App Engine</a></p>
        		<p class="copyright">Copyright &copy; Wentao's Blog  2015</p>
        	</div>
    </div>
</div>
</body>
</html>
